.header{
    height: 300px;
    text-align: center;
    background-image: url("brazil.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
h2{
    font-size: 30px;
}
.second{
    /* display: none;
     */
     visibility: hidden;
}